body {
	font-family: 'Raleway', sans-serif;
}

nav {
	margin: 0;
	width: 100%;
	position: fixed !important;
}

#about, #intro, #projects {
	width: 100%;
	height: 100%;
}

.header {
	font-family: 'Roboto', sans-serif;
}
#contact {
	width: 100%;
	max-height: 95%;
}

#intro {
	padding: 20%;
	margin: auto;
	background: black;
}

/*************************************
  For the intro section
**************************************/

#intro p {
	animation: fadein 3.5s;
	color: lightgrey;
}

@keyframes fadein {
  from { opacity: 0; }
  to {opacity: 1;}
}

#header-1 {
	font-size: 80px;
	text-shadow: 1px 1px 1px black;
}

#header-2 {
	font-size: 30px;
	text-shadow: 1px 1px 1px black;
}

/*************************************************
 About Me
**************************************************/

#about {
	padding: 1% 4%;
}

#about div {
	margin: 2% 0 10% 0;
}
#about h1 {
	font-size: 80px;
}

#about p {
	font-size: 30px;
	margin-top: 75px;
}

/*****************************************
 Projects and Project Entry
******************************************/

#projects {
	background: black;
	color: white;
	padding: 3% 4%;
	transition-duration: 2s;
	overflow: hidden;
	min-height: 100%;
	height: auto;
}

#projects h1 {
	font-size: 80px;
}

#project-buttons {
	display: flex;
}

#project-buttons a {
	width: 100%;
}
.project-entry {
	color: whitesmoke;
	text-align: center;
}

.project-entry-outer {
	margin: 3% auto;
}


#projects #project-list {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
}

#projects #project-filter-buttons {
	display: flex;
	width: 100%;
}

#project-filter-buttons button {
	width: 100%;
}

#project-filter-buttons{
	margin: 2% 0 0 0;
}

#project-desc-filter-buttons {
	margin: 2% 0 0 0;
	width: 100%;
	display: flex;
}

#project-desc-filter-buttons button {
	width: 100%;
}

.project-detailed-list-entry {
	margin-top: 4%;
}

.project-detailed-list-entry h3 {
	font-size: 40px;
}

.project-detailed-list-entry p {
	font-size: 20px;
}

/*****************************************
 Contact Me
******************************************/
#contact {
	padding: 1% 2%;
}
#contact h1{
	font-size: 80px;
}

#contact h2{
	font-size: 40px;
}

#contact label {
	font-size: 20px;
	width: 50%;
}

#contact input {
	font-size: 20px;
}